@using CroKnitters.Entities
@model List<Comment>
@{
    ViewData["Title"] = "Comment Section";
    ViewData["Js"] = "<script src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js'></script>";
}

@functions {
    // Define a function to filter bad words
    public string FilterBadWords(string content)
    {
        // List of bad words
        var badWords = new List<string> { "Shitty", "shitty", "Shit", "shit", "Fuck", "fuck", "dick", "ass", "bitch", "hell", "whore", "piss", "pussy" }; // Add more bad words as needed

        // Iterate through bad words and replace them with a warning message
        foreach (var word in badWords)
        {
            content = content.Replace(word, "<span style='color:red'>WARNING: Inappropriate Content</span>");
        }

        return content;
    }
}

<div class="flex">
    <div class="flex-1 rounded-lg border shadow-xl m-5 justify-center bg-white">
        <table class="table table-striped" ">
            <tr>
                <th class="table-dark">
                    COMMENTS
                </th>
                <th class="table-dark">
                    WARNING
                </th>
                <th class="table-dark">
                </th>
            </tr>

            @if (Model != null)
        {
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => item.Content)


                        </td>
                        <td>
                            <div>@Html.Raw(FilterBadWords(item.Content))</div>
                        </td>

                        <td>
                            <button class="delete-comment-btn" style="color: red" data-comment-id="@item.CommentId">
                                DELETE
                            </button>
                        </td>
                    </tr>
            }
        }
        </table>
        @* <p>No records to display yet.</p> *@
    </div>
</div>

        @section Scripts {
    <script>
        $(document).ready(function () {
            $(".delete-comment-btn").click(function () {
                var commentId = $(this).data("comment-id");
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this comment!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "@Url.Action("AdminDeleteComment", "Comment")",
                            type: "POST",
                            data: { id: commentId },
                            success: function (result) {
                                if (result.success) {
                                    window.location.reload();
                                } else {
                                    swal("Error!", result.message, "error");
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                swal("Error!", "An error occurred while processing the request.", "error");
                            }
                        });
                    }
                });
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    }