@model CommentViewModel

@{
    ViewData["Title"] = "Edit Comment";
}


<div class=" rounded-lg border text-center shadow-xl m-5 justify-content-start bg-white">
    <div class="p-5">
        <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"> Edit Comment</h2>
        <hr />

        <div class="pt-2 pb-2">
            <form asp-action="EditComment" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (Context.Request.Cookies["userId"] != null)
                {
                    <input type="hidden" name="ActiveComment.OwnerId" value="@Context.Request.Cookies["userId"]" />
                    <input type="hidden" name="ActiveComment.AdminId" value="@Model.ActiveComment.AdminId" />
                    <input type="hidden" name="ActiveComment.CreationDate" value="@Model.ActiveComment.CreationDate" />
                    <input type="hidden" name="ActiveComment.CommentId" value="@Model.ActiveComment.CommentId" />
                }

                <div class="mb-3 form-group">
                    <b> <label asp-for="ActiveComment.Content" class="control-label"> Content:</label></b>
                    <textarea asp-for="ActiveComment.Content" class="form-control"> </textarea>
                </div>

                <div class="mb-8 form-group">
                    <input type="submit" value="Edit" class="btn rounded-md bg-indigo-600 mt-3 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2" />
                </div>

            </form>
        </div>
    </div>
</div>
